g {
    cursor:pointer
}

.image-line {
    stroke: #A80036;
    stroke-width: 1;
}

.image-arrow {
    fill: #A80036;
}
.image-rect {
    fill: rgba(0, 0, 0, 0);
}

.image-mapper-point {
    fill: rgb(255, 255, 255);
    stroke: rgb(51, 51, 51);
    stroke-width: 1;
    opacity: 0.6;
    cursor:se-resize;
    
}

.svgcontainer
{
    overflow:scroll;
    width: 100%px;
    position: relative;
}